
/* select2 */
.select2-container--default .select2-selection--single{
    border: 2px solid #EBEBEB;
    border-radius: 4px; 
    padding: 4px 0px;
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    top: 70%
}
.select2-selection--single{
    border: 2px solid green;
}

/* button ripple */
/* button-ripple */
.button {
    background: #4c8bf5;
    outline: none;
    color: rgba(221, 221, 221, .5);
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    line-height: 1;
    font-size: 24px;
    
}
.button-text-white,
.fa-angle-right{
    color: white;
}
.button:focus{
    outline: none;
}
.button:hover{
    background: #3e81f4;
}
.button-white {
    background: white;
    color: rgba(76, 139, 245, 0.4);
    border: 1px solid #e7e7e7
}
.button-white:hover {
    background: #f2f2f2;
}
.button-info{
    background: #92a8d1;
    color: rgba(255, 255, 255, .4);
}
.button-info:hover{
    background: #819bca;
}
.button-warning{
    background: orange;
    color: #ffffff;
}
.button-warning:hover{
    background: #e69500;
}
.button-danger{
    background: #dd4124;
    color: #ffffff;
}
.button-danger:hover{
    background: #c7381f;
}
.button-success{
    background: #88b04b;
    color: #ffffff;
}
.button-success:hover{
    background: #7ca145;   
}
.button-round {
    border-radius: 50px;
    padding: 0.75em;
    width: 100px;
    height: 100px;
}
.button-ripple {
    position: relative;
    overflow: hidden;
    transform: translate(0);
}
.button-ripple_content {
    position: relative;
    z-index: 1;
}
.button-ripple_ripples {
    position: absolute;
    top: 0;
    left: 0;
}
.button-ripple_ripple{
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin: -0.5em 0 0 -0.5em;
    transform: scale(0);
    top: 0;
    left: 0;
    animation: ripple-animation 2s;
}

@keyframes ripple-animation {
    from {
    transform: scale3d(1,1,1);
    opacity: 0.8;
    }
    to {
    transform: scale3d(100,100,1);
    opacity: 0;
    }
}

/* registration form */
.changeborder{
    color:  #3e81f4;
}
.reg-back{
    display: flex;
    justify-content: center;
}
.reg-back div{
    width: 61%;
    padding: 7px 7px 3px;
    width: 54%;
}
.back-button{
    height: 40px;
    width: 40px !important;
    border-radius: 50% !important;
    padding: 11px 12px !important;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    color: #3e81f4;
    cursor: pointer;
}
.back-button:hover{
    color: #3e81f4;
    background-color: rgb(219, 219, 219);
    text-decoration: underline;
}
.skip-form1{
    margin-left: 130px;
}
.skip-form2{
    font-size: 16px;
    float: right;
    color: #3e81f4;
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer;
}
.skip-form2:hover{
    color: #3f25d1;
}
.form-control-img{
    width: 100%;
    padding: 0px;
    height: 30px;
    color: #161a1d;
    font-size: 14px;
    border: 1px solid #301aac;
    border-radius: 3px;
}
.p-0{
    padding: 0px;
}
.m-0{
    margin: 0px;
}


/* view guest */
.vg{
    margin: 60px 0px 0px;
    background-color: rgb(230, 230, 230);
    padding: 30px 0px
}

.vg-pro{
    background-color: #ffffff;
    padding: 10px;
}
.vg-head{
    color: #301aac;
    font-size: 24px;
    padding: 0px 45px;
}
.vg-bottom{
    margin: 15px 0px 0px;
    padding: 20px 20px 0px;
}
.vg-bottom-img{
    height: 150px;
    width: 150px;
    border: 2px solid gray;
    border-radius: 3px;
    margin: 0px 0px 20px;
    margin: 0 auto;
    overflow: hidden;
}
.vg-bottom-con{
    width: 150px;
    margin: 0 auto;
}
.vg-bottom-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vg-bottom-3{
    margin: 0px 0px 20px;
}
.vg-bottom-5{
    display: flex;
}
.vg-bottom-5 > div{
    padding: 0px 20px;
    margin: 0px 0px 7px;
    font-size: 16px;
    color: #23292f;
}
.vg-bottom-5-icon{
    width: 20%;
}
.vg-bottom-5-text{
    width: 80%;
}
.vg-bottom-5-icon-style{
    color: #3e81f4;
}
.vg-bottom-contact{
    padding: 10px 20px 30px;
    display: flex;
    justify-content: center;
}
.vg-bottom-contact > div{
    margin: 3px 1px;
    margin: 0 auto;
}
.vg-bottom-details{
    margin: 10px 0px 20px;
    padding: 20px 30px 45px;
    border-bottom: 1px solid rgb(218, 215, 215);
    background-color: white;
    display: flex;
}
.vg-bottom-details-icon{
    width: 5%;
}
.vg-bottom-details-text{
    width: 95%;
}
.vg-bottom-details-icon-style{
    height:30px; 
    width:30px; 
    border-radius:50%; 
    background-color:#b76ba3; 
    padding-top:10px; 
    padding-left:6px; 
    text-align:center; 
    margin-left:-8px;
}
.vg-bottom-details-text-head{
    font-size:30px;
    margin-bottom: 20px;
}
.vg-bottom-details-text-bot{
    margin: 10px 0px 0px;
    font-size: 15px;
    display: flex;
}
.vg-bottom-details-text-bot-one{
    font-weight: 700;
    width: 20%;
}
.vg-bottom-details-text-bot-two{
    font-weight: 500;
}
.vg-bottom-details-icon-style-two{
    height:30px; 
    width:30px; 
    border-radius:50%; 
    background-color:#00a591; 
    padding-top:8px; 
    padding-left:5px; 
    text-align:center; 
    margin-left:-8px
}
.vg-bottom-details-icon-style-three{
    height:30px; 
    width:30px; 
    border-radius:50%; 
    background-color:#5b5ea6; 
    padding-top:8px; 
    padding-left:5px; 
    text-align:center; 
    margin-left:-8px
}
.vg-bottom-img-id{
    font-size: 18px;
    color: #2e5383;
    margin: 15px 0px 0px;
    padding-left: 20px;
}
.vg-bottom-img-id-font1{
    font-size: 11px; 
}
.vg-bottom-img-id-font2{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase
}
.vg-bottom-img-id-btn{
    margin: 10px 0px 0px;
    padding: 7px 50px;
    font-size: 15px;
    
}


/* search profiles */

.search-icon-guest{
    color:white;
    background-color:#45b8ac;
    border-radius:4px;
    cursor: pointer;
    margin-bottom:20px;
}
.search-icon-guest:hover{
    background-color:#38948b;
}
.submitSearchById{
    border-radius:2px; 
    margin-top:3px; 
    font-family:'Segoe UI'; 
    font-weight:600;
    background-color: #89aec2;
    color: white;
    padding: 10px;
}
.submitSearchById:hover{
    background-color: #6897b1;
    color: white;
}
.right-div{
    border:1px solid #CCCCCC; 
    background-color:#FBFBFB; 
    padding:0px 0px 10px 0px;
    border-radius:4px;
    margin-bottom:10px;
}
.rishta-div-head{
    font-size:16px;
    font-weight: 600;
    background: linear-gradient(to left, #2193b0 0%, #6dd5ed 100%);
    padding:15px;
    color: white;
    margin-bottom:5px;
    border-top-left-radius: 2px;
}
.rishta-div-body{
    padding: 0px;
    font-size: 13px; 
    color: #666666;
}
.rishta-div-body-link{
    text-transform: capitalize;
    color: #07C;
    width: 100%;
    display: inline-block;
    padding: 2px 8px;
}
.rishta-div-body-link:hover{
    color: #0095ff;
    text-decoration: none;
    background-color: #f2f2f2;
}

.all-sec{
    padding: 40px 0px;
    background-image: url('../../assets/allpics/back17.png');
}

.all-main-div{
    padding: 30px 15px;
    margin: 20px 0px 0px;
}
.p-0{
    padding: 0px;
}
.all-main-prof{
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid #e7e6e6;
    padding: 15px 0px;
    margin-bottom: 10px;
}
.all-main-prof:hover{
    background-color: white;
    box-shadow: 0px 0px 4px lightgray;
}
.all-main-div-img{
    border-radius: 5px;
    border: 2px solid rgb(194, 192, 192);
    padding: 0px;
    height: 150px;
    overflow: hidden;
}
.all-main-div1{
    margin: 0 auto;
    width: 150px;
    height: auto;
    padding: 5px 5px 0px;
    border: 1px solid rgb(231, 230, 230);
    border-radius: 5px;
    
}
.all-main-div-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.all-div-link{
    text-decoration: none;
}
.all-main-profile-detail{
    color: #161a1d;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.all-main-profile-detail > div{
    padding: 10px;
    margin: 0px;
}
.all-main-prof-bold,
.all-main-prof-normal{
    margin: 5px 0px;
    font-size: 14px;
    padding-bottom: 5px;
    color: #666666
}
.all-main-prof-bold{
    color: #dfdddd;
}
.all-main-prof-normal{
    font-weight: normal
}
.all-main-div-btn{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin: 5px 0px;
}
.auto-center{
    margin: 0 auto;
}
.all-main-div-btn-pa{
    width: 100%;
    font-size: 14px;
    padding: 10px 0px;
}
.all-md-2{
    padding: 2px;
}
.all-md-2 > div{
    background-color: #4eb1ac;
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #3e8e8a;
}
.all-md-2 > div:hover{
    background-color: white;
    border: 1px solid #dfdfdf;
    color: #00a591;
    box-shadow: 1px 5px 8px rgb(196, 196, 196);
    font-weight: 600;
}
.single-md-2 > div{
    background-color: #6b5b95;
    border: 1px solid #67578e;
}
.single-md-2 > div:hover{
    color: #6b5b95;
}
.margin-auto{
    margin: 0 auto;
}
.all-cat-nam-sty{
    font-weight: bold;
}
.cat-text-div{
    padding: 0px 30px 30px;
    border: 1px solid rgb(233, 232, 232);
    border-radius: 4px;
    color: #333333;
    margin: 10px 0px;
    background-color: white;
}
.cat-text-div-title-sm{
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}
.cat-text-div-title-lg{
    font-size: 30px;
    margin: 10px 0px;
    font-family: 'Lato', sans-serif;
}
.cat-text-div-body{
    font-size: 16px;
    font-family: calibri;
}
.all-cat{
    padding: 120px 0px 40px;
    background-color: white;
    background-image: url('../../assets/allpics/signup-bg.jpg');
}
.all-cat-div-main{
    border-radius: 2px;
    margin-bottom: 40px;
}
.all-cat-div-title{
    padding: 2px 10px;
    background-color: #3e8e8a;
    border-bottom: 2px solid #2f6a67;
    font-size: 30px;
    color: white;
    margin: 0px 0px 15px 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-transform: uppercase
}

.single-cat-div-title{
    background-color: #6B5B95;
    border-bottom: 2px solid #67578e;
    margin-bottom: 10px;
}

.all-cat-card{
    display: flex;
    flex-wrap: wrap;
}
.all-cat-card  div{
    background-color: #e6e6e6;
    color: #07C;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
    text-transform: capitalize;
}
.all-cat-card > div:hover{
    background-color: #d9d9d9;
}
.all-cat-div-view-al{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #55B4B0;
    margin: 20px 0px 0px;
}
.vp-modal-flex-btn{
    padding: 12px 35px;
    background-color: #0095ff;
    color: white;
    font-size: 16px;
    border-radius: 3px;
}
.vp-modal-flex-btn:hover{
    background-color: #007bd3;
    text-decoration: none;
    color:white;
}
.vp-modal-flex-title{
    font-size: 30px;
    color: #007bd3;
}

#whitePage {
    background-color: #FFFFFF;
    border: 1px solid rgb(231, 231, 231);
    border-top: 0px;
    margin-top: 0px;
    padding: 0px 14px;
    box-shadow: 0px 3px 5px lightgrey;
    border-radius: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.vp-white-head{
    height: 60px;
    padding: 25px 20px 10px; 
    font-size: 18px;
    color: #5B5EA6;
    background-color: #f0ead6;
    border-bottom: 2px solid #eae2c7;
    margin-top: 0px;
    text-transform: capitalize;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.vp-div3{
    border-radius: 1px;
    margin-bottom: 10px;
}
.vp-div3-head{
    padding: 15px 10px;
    border-bottom: 1px solid gray;
    font-size: 18px;
    color: #fcfcfc;
    font-weight: 600;
    background: linear-gradient(to left, #2193b0 0%, #6dd5ed 100%);
    text-transform: capitalize;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.vp-div3-body-row{
    padding: 5px;
    background-color: rgb(243, 243, 243);
    border: 1px solid lightgray;
    border-top: 0px;
    text-decoration: none;
    transition: .3s all;
}
.vp-div3-body-row:hover{
    padding-left: 7px;
}
.vp-div3-body-row-title{
    text-transform: capitalize;
    font-size: 15px;
    color: #0095ff;
    text-decoration: none;
}
.vp-div3-body-row-title:hover{
    text-decoration: none;
    color: #0172c4;
}
.vp-div3-body-row-des{
    font-size: 12px;
    text-transform: initial;
    text-decoration: none;
    color: #333333;
}

.vp-div3-body-row-link{
    text-decoration: none;
    color: inherit
}
.vp-div3-body-row-link:hover{
    text-decoration: none;
}
.nav-icons{
    display: none;
}



















/* footer */
.foot-main{
    color: #d4dbe4;
}
.foot-main-one{
    background-color: #23292f;
    padding: 50px 0px 5px;
}
.foot-main-two{
    background-color: #161a1d;
    padding: 7px 0px;
    text-align: center;
    font-size: 12px;
}
.foot-main-one-top{
    padding: 15px 0px 5px;
    text-align: center;
    font-size: 12px;
}
.foot-main-one-bot{
    display: flex;
    justify-content: center;
    padding: 5px 0px 0px;
    text-transform: uppercase
}
.foot-main-one-bot div{
    border-right: 1px solid #d4dbe4;
    padding: 0px 7px;
}
.foot-main-one-bot div a{
    color: #d4dbe4;
    text-decoration: none
}
.foot-main-one-bot div a:hover{
    color: #ffffff;
    text-decoration: none
}
.foot-main-one-bot div:nth-last-child(1){
    border-right: 0px;
}
.foot-five-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 0px 20px;
}
.foot-five-box div{
    padding: 10px 20px;
    width:250px
}
.foot-five-box-sp{
    width: 94%;
    display: block;
    margin-top: 15px;
    border-bottom: 1px solid #707275;
}
.foot-five-box-he{
    font-size: 18px;
    font-weight: 600;
    padding: 0px !important;
}
.foot-five-box-he span{
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.foot-five-box-he span:hover{
    color: #d4dbe4;
}
.foot-five-box-he div{
    font-size: 13px;
    padding: 0px !important;
    font-weight: 500;
}
.foot-five-box-he div a{
    color: #d4dbe4;
    margin-top: 5px;
    display: block;
    transition: .3s all ease;
}
.foot-five-box-he div a:hover{
    color: #ffffff;
    margin-left: 5px;
}
.foot-five-box-he-li{
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}
.foot-five-box-he-li div{
    margin-top: 4px;
}
.foot-five-box-he-li div a:nth-child(1) {
    text-transform: capitalize;
}
.foot-caret-icon{
    display: none;
    float: right;
}
.foot-five-box-he-sub-a:hover{
    text-decoration: none;
}
.foot-five-box-class{
    display: block !important;
}
.foot-caret-icon-down{
    float: right;
    display: none;
}

.pagination-btn{
    border-radius: 0px;
    padding: 2px 4px;
    margin-left: 1px;
}
.cat-above-foot-sec{
    margin: 70px 0px 50px;
}

.ft-border-flex{
    display: flex;
    justify-content: center;
}
.ft-border-flex div{
    border-top: 1px solid gray;
    width: 30%;
    margin: 10px 0px 25px 0px;
}
.foot-toggle-one,
.foot-toggle-two,
.foot-toggle-three,
.foot-toggle-four,
.foot-toggle-five{
    display: none;
}
.foot-five-box-he-tog{
    color: inherit;
}
.foot-five-box-he-tog:hover{
    color: white;
    text-decoration: none;
}
.ft-fi-v-all{
    font-size: 16px;
    margin: 10px 0px 10px !important;
    padding-left: 30px;
}
.icon-bar{
    border: 1px solid white;
}
#navbarToggleButton:hover{
    background-color: #A00000;
}
#navbarToggleButtonTop{
    background-color: #A00000;
}
#navbarToggleButtonTop:hover{
    border: 0px;
}
#searchIcon{
    color: #D69C2F;
    margin-top: 8px;
}
#searchIcon:hover{
    color: #D69C2F;
}
#navbarToggleButton{
    padding: 7px !important;
}

#sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    padding: 7px;
    border-top: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    box-shadow: 0px -2px 2px lightgrey;
    top: 0;
    z-index: 0;
}
#navbarToggleButton:hover{
    background-color:#A00000; 
    color:#FFFFFF;
}
.cat-tot{
    color: gray;
    padding: 30px 0px 0px; 
    
}
.hidePrefrences{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bd3;
    font-size: 20px;
    height: 243px;
    border-radius: 4px;
    transition: .4s all ease;
    background-color: #fbfbfb;
}
#changeCenter:hover .hidePrefrences{
    background-color: #f2f2f2;
}
.hidePrefrences > div {
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px 0px 0px 0px;
    background-color: #e0e7eb;
    color: white;
    font-size: 32px;
    top: 50%;
}
#changeCenter:hover .hidePrefrences > div{
    background-color: #ffffff;
    color:  #00539c;
}
.mainBody{
    background-image: url('../../assets/allpics/signup-bg.jpg');
}
#loginDivMargin{
    background-image: url('../../assets/allpics/signup-bg.jpg');
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 15px;
}
.ind-txt-con{
    background-color: white;
    background-image: url('../../assets/allpics/back17.png');
}
.ind-txt-container{
    padding: 150px 0px 100px;
}
.ind-txt-img{
    width: 100%;
    border: 1px solid rgb(238, 238, 238)
}
.ind-txt-img-in{
    width: 100%;
    background-color: #dadada;
    color: white;
    padding: 30px 10px 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ind-txt-img-center{
    padding: 30px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.ind-txt-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #577284;
    font-size: 40px;
}
.g-font-one-light{
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.g-font-one-bold{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.ind-txt-img-in-two{
    bottom: 1%;
    width: 100%;
    background-color: #b2b5b8;
    color: white;
    height: 14px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sg-sen-div{
    padding: 0px;
    color: #333333;
    font-family: 'Segoe UI';
    padding-right: 0px;
    line-height: 19px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
}
.h1-title{
    color: gray;
    text-transform: capitalize
}
.ind-txt{
    border-radius: 3px;
    font-size: 14px;
    color: #696969;
}
#imageCenterText2 {
    position: absolute;
    top: 50%;
    padding: 0px;
    text-align: center;
    left: 0%;
    right: 0%;
}
.index-search{
    padding: 5px 30px 15px;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid rgba(71, 71, 71, 0.3);
    border-radius: 4px;
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.index-search-label{
    display: flex;
    font-weight: 100;
}
.ind-form-group-search{
    padding: 1px;
}
.ind-form-group-search-btn{
    height: 40px;
    font-weight: 600;
}
.ind-form-group-search-btn:hover{
    color: white;
}
.imageCenterText2-title{
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 50px;
}
.leftSideBar-all{
    padding: 0px;
}
.leftSideBar-all-li{
    padding: 4px 10px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fbfbfb;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    background-color: white;
    width: 100%;
    display: block;
    margin-bottom: 3px;
    font-family: 'Segoe UI';
    font-weight: 600;
    transition: .7s all ease-in-out;
}
.leftSideBar-all-li:hover{
    background-color: rgb(233, 233, 233);
    text-decoration: none;
    color: #00539c;
    padding-left: 28%;
}
.ind-recent-pro{
    padding:10px; 
    padding-top:35px; 
    padding-bottom:80px; 
    background-color:#f0ede5;
    background-image: url(../../assets/allpics/signup-bg.jpg);
}
.all-main-profile-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: .4s all ease;
}
.all-div-link:hover .all-main-profile-right{
    height: 200px;
}
.all-main-profile-right-in{
    font-size: 16px;
    transition: .1s all ease-out;
    opacity: 0;
}
.all-div-link:hover .all-main-profile-right-in{
    opacity: 1;
}
.all-main-profile-right-btn{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #91b955;
    background-color: #88b04b;
    color: white;
}
.cat-pagi-pad{
    padding: 0px;
}
.cat-above-foot-sec{
    margin-top: 0px;
}






















@media screen and (max-width:768px){
    #imageCenterText2 {
        display: block;
        top: 49%;
    }
    .index-search{
        border-radius: 0px;
    }
    #bodyCenter {
        margin-top: 47px;
    }
    .index-search-label-s{
        display: none;
    }
    .foot-five-box{
        display: block;
    }
    .foot-five-box-he-li{
        margin-top: 5px;
        margin: 0px 5px 0px 5px;
        display: none;
    }
    .foot-five-box-he-a,
    .foot-five-box-he-sub-a{
        display: block;
    }
    .foot-five-box-he-a{
        padding: 5px;
    }
    .foot-five-box-he-a:hover{
        background-color: #1c252c;
    }
    .foot-five-box-he span{
        color:white;
        margin-bottom: 0px;
        padding: 10px;
    }
    .foot-main-one-fluid{
        padding: 0px;
    }
    .foot-main-one-bot div{
        font-size: 12px;
    }
    .foot-main-one{
        padding-top: 15px;
    }
    .foot-five-box-he div a{
        padding: 0px 5px;
    }
    .foot-five-box-he span:hover{
        color:white;
    }
    .foot-five-box div{
        padding: 3px 0px;
    }
    .foot-caret-icon{
        display: block;
    }
    .reg-back div{
        width: 100%;
    }
    #createYourAccount{
        padding-top: 20px !important
    }
    .skip-form1{
        margin-left: 0px;
        padding-top: 23px !important;
    }
    .skip-form2{
        text-align: end;
    }
    .pagination-btn{
        margin: 4px;
    }
    .all-main-prof-bold, 
    .all-main-prof-normal {
        margin: 0px 0px;
        font-size: 15px;
        padding-bottom: 2px;
        color: #666666;
    }
    .all-main-prof-bold{
        font-weight: 500;
        color: #CCCCCC;
    }
    .all-main-profile-detail{
        margin: 20px 0px 0px;
    }
    
    .all-main-prof{
        padding: 15px 0px
    }
    .cat-above-foot-sec{
        margin: 10px 0px;
        padding: 0px 0px;
    }
    .foot-five-box div{
        padding: 5px 0px;
        width:100%;
    }
    #modalPaddingInner {
        margin: 5px;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-icons{
        display: inline-block;
    }
    .foot-toggle-one,
    .foot-toggle-two,
    .foot-toggle-three,
    .foot-toggle-four,
    .foot-toggle-five{
        display: block;
    }
    .foot-five-box-he-tog{
        display: none;
    }
    .ft-border-flex div{
        width: 90%;
    }
    .imageCenterText2-title{
        display: none;
    }   
    .ind-txt-title{
        font-size: 25px;
    }
    .all-main-profile-right{
        display: none;
    }
    .all-main-profile-detail-div-2{
        padding: 0px;
    }
    .all-main-prof{
        border-radius: 10px;
    }
    .cat-pagi-pad{
        padding: unset;
    }
    .cat-above-foot-sec{
        margin-top: 140px;
    }
}
